
<h3>Test JSROOT</h3>

<!--- <div id="drawing" style="width:600px; height:450px"></div> 

<div class="div1">
	<canvas 
  	#canvas 
  	(window:resize)="onWindowResize($event)">		
	</canvas>
</div>
--->


                           
<div class="my-div">
	<ng5-slider class="my-slider"
		[(value)]="minValue" 
		[(highValue)]="maxValue" 
		[options]="options">
	</ng5-slider>
</div>
