
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: orange!important;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px!important;
    height: 10px!important;
    margin-left: 4px!important;
    border-radius: 0!important;
    background: #ffe4d1!important;
    top: -1px!important;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: purple !important;
  }


.my-div {
  width: 20%;
}

.ng5-slider-pointer {
    background-color: red !important;
}

.custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px !important;
}

.custom-slider .ng5-slider .ng5-slider-bar {
  background: red !important;
  height: 2px !important;
}


  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange !important;
  }


